#gameDiv{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid;
    border-radius: 25%;
    padding: 10px;
    background-color: aqua;
    text-align: center;
}
.choiceBtn{
    line-height: 30px;
    width: 150px;



}

#playerText{
    color:blue;

}
#computerText{
    color: brown;
}

